.main_wrapper{
    width: 100%;
    background: gray;
    display: flex;
}

.left_col{
   width: 66.6%;
   background: black;
   display: flex;
   flex-wrap: wrap;
}

.right_col{
   width: 33.3%;
   background: white;
   margin-left: 3px;
   margin-bottom: 5px;
}

.hero_small{
    width:100%;
    height: 200px;
    background: rebeccapurple;
}

.half_size{
    width:50%;
    height: 200px;
    background: mediumseagreen;
}

.half_size:nth-child(odd){
    background: cornflowerblue;
}

.inner_item{
    width: 100%;
    height: 250px;
    background: #ccc;
    display: flex;
    flex-direction: column;
}